{{!-- render dashboard header --}}
<header class="display-flex p-2">
    <div class="your-dash">Your Dashboard</div>
</header>

{{!-- dashboard shows all of the user's posts, and the option to create a new post --}}
<div class="row mt-1">
    {{!-- current posts (if any) --}}
    {{#if blogposts.length}}
    <div class="row user-blog-list">
        {{#each blogposts as |blogpost| }} 
        <div class="row mb-1 mt-1 userBlogPost">
            <a href="/blogpost/{{blogpost.id}}">
                <div class="row justify-content-between">
                    <div>{{blogpost.title}}</div>
                    <div>{{format_date blogpost.dateCreated}}</div>
                </div>
            </a>
        </div>
        {{/each}}

    </div>
    {{/if}}

    {{!-- link to create new blog post --}}
    <div class="new-post-btn">
        <a href="/new-post">+ New Post</a>
    </div>
</div>
{{!-- script to render the user's dash with their blog posts --}}
<script src="./js/dashboard"></script>