<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="flex-column">
        <nav class="nav p-2">
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            {{!-- conditionally render login and logout links --}}
            {{#if logged_in}}
            <a href="/logout">Logout</a>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </nav>
        {{!-- <header class="tech-blog display-flex p-2">The Tech Blog</header> --}}
        <main>
            <div class="container container-fluid mt-1">
                {{!-- render the sublayout --}}
                {{{ body }}}
            </div>
        </main>

        <footer></footer>
    </div>
    {{!-- render script if user is logged in --}}
    {{#if logged_in}}
        <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>