{{!-- single post with section to add a comment --}}
<div class="row mt-1">
    <div class="post-header justify-content-between">
        <h3>{{blogpost.title}}</h3>
        <div>Posted by {{blogPost.user_id}} on {{format_date blogPost.dateCreated}}</div>
    </div>
    <div class="post-content">
        <div>{{content}}</div>
    </div>
    
</div>

{{!-- new comment form --}}
<div class="row mt-1">
    <h3 class="comment-header"></h3>
    <form class="form comment-form">
        <div class="form-group">
            <label for="comment">Comment:</label>
            <input class="form-input" type="text" id="comment" name="comment" />
        </div>


    </form>

</div>