{{!-- dashboard shows all of the user's posts, and the option to create a new post --}}

{{!-- ------------ refactor code from homepage ---------- --}}
{{!-- <div class="row d-flex mt-1"> --}}
    {{#if blogposts.length}}

        {{#each blogposts as |blogpost|}} 
        <div class="row mb-3 mt-1 dash-post"> <!-- removed blogpost class -->
            <div class="col-md-12 d-flex post-preview justify-content-between">
                <a href="/{{blogpost.id}}">{{blogpost.title}}</a>
                <div>Posted on {{format_date blogpost.dateCreated}}</div>
            </div>

        </div>
        {{/each}}
    {{!-- {{else}} --}}
    {{!-- <div class="no-posts text-center align-middle mb-10">Click "+ New Post" to add a blog post here.</div> --}}

    {{/if}}


{{!-- </div> --}}

<div class="d-grid gap-3 mt-3 mb-3 fixed-bottom new-post-btn">
    <button class="btn btn-dark w-100 add-new" type="submit">+ New Post</button>
</div>


{{!-- -------------------scripts---------------------- --}}
<script src="/js/dashboard.js"></script>

{{!-- {{#if logged_in}} --}}
{{!-- <script src="/js/logout.js"></script> --}}
{{!-- {{/if}} --}}