<div class="row mt-1">
    
    {{!-- show title and content fields --}}
     <h3 class="post-header">Edit Post</h3>
     <form class="form edit-post-form" id="{{id}}"></form>
        <div class="form-group">
            <label for="post-title">Title:</label>
            <input class="form-input" type="text" id="post-title" name="post-title" value="{{title}}"/>
        </div>
        <div class="form-group"></div>
            <label for="post-content">Content:</label>
            <input class="form-input" type="text" id="post-content" name="post-content" value="{{content}}"/>
        </div>
    </form>
    {{!-- click update post  --}}
    <div class="update-btn">
        <a href ="/dashboard">Update Post</a>
    </div>
    {{!-- click delete --}}
    <div class="delete-btn">
        <a href ="/dashboard">Delete</a>
    </div>

</div>