{{!-- login form (BootStrap) --}}
<div class="row mt-1">
    <h2>Login</h2>

    <form class="form login-form" action="/login" method="POST">
        <div class="form-group">
            <label for="username-login">Username:</label>
            <input class="form-input" type="text" id="username-login" />
        </div>
        <div class="form-group"></div>
            <label for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group"></div>
            <button class="btn btn-secondary" type="submit">Log In!</button>
        </div>
        <div>
            <a href="/signup">Sign up instead</a>
        </div>
    </form>
    
</div>
{{!-- script to send login credentials to API endpoint --}}
{{!-- <script src="../../public/js/login.js"></script> --}}
<script src="./js/login.js"></script>