{{!-- login form (BootStrap) --}}
<div class="row d-flex mt-1 login">
    <div class="col-12 d-flex login-header ">  <!-- flex row -->
        <h2 class="p-1">Login</h2>
    </div>

    <div class="col-12 mb-3 mt-3">  <!-- flex row -->
        <form class="form login-form">
            <div class="form-group">
                <label for="username-login" class="form-label">Username:</label>
                <input class="form-input form-control" type="text" id="username-login" />
            </div>
            <div class="form-group">
                <label for="password-login" class="form-label">Password:</label>
                <input class="form-input form-control" type="password" id="password-login" />
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" onclick="toggleLoginPassword()" id="toggle-pass">
                <label class="form-check-label toggle-pass" for="toggle-pass">Show Password</label>
            </div>

            <div class="d-grid gap-3 mb-3">
                <button class="btn btn-secondary w-100" type="submit" >Log In!</button>
            </div>
            <div class="signup-link">
                <a href="/api/user/signup" class="link-dark">Sign up instead</a>
            </div>
        </form>             
    </div>    
</div>
{{!-- script to send login credentials to API endpoint --}}
<script src="/js/login.js"></script>
{{!-- script to toggle password visibility --}}
<script src="/js/showPassword.js"></script>

