:root {
    --blueGray: #c7ddff;
    --black: black;
    --gray: rgb(116, 116, 116);
    --lightGray: rgb(180, 180, 180);
    --white: white;
    --aqua: aqua;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--blueGray);
}

.nav-header {
    /* freeze at the top of viewport */
    position: sticky;
    top: 0;
    z-index: 1;
}

nav,
header {
    background-color: var(--black);
        
}


/* nav bar links */
nav a,
.username {
    color: var(--blueGray);
    margin-left: 40px;
    font-size: 30px;

}
.username {
    margin-right: 40px;
}

/* links */
a,
a:hover,
a:visited {
    text-decoration: none;
    color: var(--blueGray);
    padding: 10px;

}


a:hover {
    font-weight: 700;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow-y: auto; /* allow scrolling in <main> */

    min-height: calc(100vh - 300px);
    /* min-height: 100vh; */
    margin: 30px 50px 30px 50px;
    box-sizing: content-box;
}


/* header text */
.tech-blog,
.your-dash {
    box-shadow: 6px 6px 0px 0px var(--gray);
    border-radius: 8px;
    padding: 5px 20px;
    font-size: 45px;
    font-weight: 800;
    background-color: var(--blueGray);
    color: var(--black);
    margin: 0px 0px 20px 40px;
    width: auto;

}


.blogpost,
.login,
.signup,
.new-post,
.edit-post,
.new-comment {
    border: solid;
    border-width: 3px;
    border-color: var(--black);
    border-radius: 6px;
    margin-left: 15em;
    margin-right: 15em;
}

.blogpost {
    padding: 0;
}

.post-content,
.comment-content,
label {
    font-size: 20px;
    
}

label {
    font-weight: bolder;
}

.update-btn,
.delete-btn,
.create-btn,
.comment-btn {
    background-color: var(--gray);
    color: var(--white);
    font-size: 24px;
    font-weight: bolder;
    margin-top: 1em;
}

.post-header,
.post-header-link,
/* .comment-header, */
.login-header {
    font-size: 24px;
    background-color: var(--black);
    color: var(--blueGray);
    align-items: center; /* align vertically */
    padding-left: 16px;
    
}
.comment-header {
    font-size: 24px;
    background-color: var(--black);
    color: var(--black);
}

.post-header,
.post-header-link,
.comment-header {
    height: auto;
}

.post-footer {
    font-size: 16px;
    font-weight: 600;
    background-color: var(--lightGray);
    color: var(--black);
    align-items: center; /* align vertically */
    padding: 3px 16px 3px 18px;
        
}

.post-preview {
    font-size: 24px;
    background-color: var(--gray);
    color: var(--blueGray);
    align-items: center; /* align vertically */
    border-radius: 6px;
    
}

.dash-post {
    margin-left: 15em;
    margin-right: 15em;
}

.post-comment {
    font-size: 18px;
    background-color: var(--gray);
    color: var(--blueGray)
}

.form-check, .form-check-label {
    vertical-align: middle;
}

.form-check-input {
    height: 15px;
    width: 15px;
}

.post-content {
    background-color: var(--blueGray);
    color: var(--black);
    padding: 1em;
    /* padding: 1em 1.2em 1em 1.2em; */
    /* font-size: 20px; */

}


.new-post-form,
.login-form,
.signup-form,
.edit-post-form,
.new-comment-form {
    padding: 1em;
}

/* align new-post-btn to bottom of main element, above the footer */
.new-post-btn {
    margin-left: 35em;
    margin-right: 35em;
    bottom: 110px;
}

.add-new,
.add-comment {
    font-size: 24px;
}

.add-new {
    /* move New Post btn to bottom of page */
    /* position: relative; */
    /* bottom: 150px; */
    border-radius: 6px;
}

.form-input {
    border-color: var(--aqua);
    border-width: 2px;
    
}
.toggle-pass {
    font-size: 16px;
}


.login-link, .signup-link {
    display: inline;
    background-color: var(--gray);
    border-radius: 3px;
    padding: 3px;
}

footer {
    position: sticky;
    bottom: 0;
    z-index: 1;
    height: 100px;
    background-color: var(--black);
}