:root {
    --blueGray: #a1b4d1;
    --black: black;
    --gray: rgb(116, 116, 116);
    --white: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--blueGray);
}

/* nav bar */
nav, header {
    background-color: var(--black);
    display: flex;
}

/* nav bar links */
nav a {
    color: var(--blueGray);
    padding: 10px;
}

/* links */
a {
    text-decoration: none;
}

/* visited link */
a:visited {
    color: inherit;
}

a:hover {
    font-weight: 800;
    text-decoration: underline;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 30px 50px 30px 50px;
}


/* header text */
.tech-blog, .your-dash {
    box-shadow: 6px 6px 0px 0px var(--gray);
    border-radius: 8px;
    padding: 5px;
    font-size: 24px;
    font-weight: bolder;
    background-color: var(--blueGray);
    color: var(--black);

}

.blogpost {
    border-width: 2px;
    border-color: var(--black);
    padding: 5px;
}

.blogHeader {
    height: 1em;
    background-color: var(--black);
    color: var(--gray);
    
}

.blogContent {
    height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--blueGray);
    color: var(--black);
    
}

.userBlogPost, .update-btn, .delete-btn {
    background-color: var(--gray);
    color: var(--white);
}

.new-post-header, .new-post-btn {
    background-color: var(--black);
    color: var(--white);
}
/* align new-post-btn to bottom of main element, above the footer */
.new-post-btn {    
    padding: 5px;
    position: absolute;
    bottom: 40px;
    margin: 0 auto;

}


footer {
    height: 20px;
    background-color: var(--black);
}