:root {
    --blueGray: #a1b4d1;
    --black: black;
    --gray: rgb(116, 116, 116);
    --white: white;
    --aqua: aqua;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--blueGray);
}

/* nav {
    padding: 0px 0px 20px 40px;
} */
nav, header {
    background-color: var(--black);
    display: flex;
    font-size: 30px;
}

/* nav bar links */
nav a {
    color: var(--blueGray);
    margin-left: 40px;
    
}

/* links */
a, a:hover, a:visited {
    text-decoration: none;
    color: var(--blueGray);
    padding: 10px;
    
}

/* visited link */
/* a:visited {
    
} */

a:hover {
    font-weight: 700;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 30px 50px 30px 50px;
}


/* header text */
.tech-blog, .your-dash {
    box-shadow: 6px 6px 0px 0px var(--gray);
    border-radius: 8px;
    padding: 5px 20px;
    font-size: 45px;
    font-weight: 900;
    background-color: var(--blueGray);
    color: var(--black);
    margin: 0px 0px 20px 40px;
    width: auto;

}

.blogpost {
    border-width: 2px;
    border-color: var(--black);
    padding: 5px;
}

.post-header, .post-comments, .comment-header {
    height: 1em;
    background-color: var(--black);
    color: var(--gray);
    
}

.post-content {
    height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--blueGray);
    color: var(--black);
    padding: 8px;
    
}

.post-preview, .update-btn, .delete-btn {
    background-color: var(--gray);
    color: var(--white);
    /* set button width  */
}

.post-header, .post-btn {
    background-color: var(--black);
    color: var(--white);
}
/* align new-post-btn to bottom of main element, above the footer */
.post-btn {    
    padding: 5px;
    position: absolute;
    bottom: 40px;
    margin: 0 auto;

}

.form {

}
.form-input {
    border-color: var(--aqua);
    border-width: 2px;
}

footer {
    height: 20px;
    background-color: var(--black);
}